# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/blog-client/node_modules
/blog-server/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/blog-client/dist

# misc
.DS_Store

# umi
/blog-client/src/.umi
/blog-client/src/.umi-production
/blog-client/src/.umi-test
/blog-client/.env.local
