.layouts {
  width: 100%;
  height: 100%;
  background-color: #1d1f2c;
  color: #fff;
  display: flex;
  flex-direction: column;
  section {
    display: flex;
    flex: 1;
    padding: 20px 0 10px;
  }
}
